*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.cat{
        object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 12px;
}

#contenedor{
    gap: 8px;
    grid-template-columns: 300px 300px 300px;
    margin-top: 16px;
    width: 1000px;
    display: grid;
    justify-content: center;
}


@media (max-width: 840px ) and (min-width:600px) {

    #contenedor{
            width: 700px;
        justify-content: center;
    display: grid;
    justify-items: center;
    grid-template-columns: calc(50% - 32px) calc(50% - 32px);
    grid-template-rows:auto;
    }

    .cat{
        width: 100%;
    }

}

@media (max-width:600px){
      #contenedor{
        width: 500px;
        justify-content: center;
    display: grid;
           grid-template-columns: calc(100% - 32px);
    }

    .cat{
        width: 100%;
        aspect-ratio: 1 / 1;
    }
}